<div class="wvu-page-whoWeAre">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="_flourish">Who We Are</h2>
					<p class="_lead">Meet our Key Leaders</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					{{> molecules-featuredBio}}
				</div>
				<div class="col-xs-12 col-md-6">
					{{> molecules-featuredBio}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					{{> molecules-featuredBio}}
				</div>
				<div class="col-xs-12 col-md-6">
					{{> molecules-featuredBio}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<hr class="_dark"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h2 class="_flourish">Our History</h2>
					<div class="wvu-textLeft">
						<h3>In the Beginning</h3>
						{{> global-paragraphText }}
						<h3>2011</h3>
						{{> global-paragraphText }}
						<h3>2012</h3>
						{{> global-paragraphText }}
						<h3>2013</h3>
						{{> global-paragraphText }}
						<h3>2014</h3>
						{{> global-paragraphText }}
					</div>
				</div>	
			</div>
		</div>
	</section>
</div>