&lt;div class=&quot;wvu-molecule-socialIcons&quot;&gt;
	{{# social-icons }}
	&lt;span class=&quot;wvu-atom-socialIcon&quot;&gt;&lt;i class=&quot;{{ icon-class }}&quot;&gt;&lt;/i&gt;&lt;/span&gt;
	{{/ social-icons }}
&lt;/div&gt;