<div class="wvu-atom-carouselBox">
	<img src="http://placehold.it/360x250" alt="" />
	<div class="wvu-boxText">
		<div class="wvu-title">Fall 2013 Welcome Meeting</div>
		<div class="wvu-desc">Provost Michele Wheatly greets a participant.</div>
	</div>
</div>