<p class="wvu-atom-leadText">The WVU Women's Leadership Initiative (WLI) empowers and engages women on campus, helping them achieve their full professional potential and form a community within which the participants can initiate valuable new relationships.</p>