<div class="wvu-atom-carouselBox">
	<img src="../../img/carousel/event1.jpg" alt="" />
	<div class="wvu-title">Fall 2013 Welcome Meeting</div>
	<div class="wvu-desc">Provost Michele Wheatly greets a participant</div>
</div>