/*
 _____     _     _               __    ____            _             _       
|_   _|_ _| |__ | | ___    ___  / _|  / ___|___  _ __ | |_ ___ _ __ | |_ ___ 
  | |/ _` | '_ \| |/ _ \  / _ \| |_  | |   / _ \| '_ \| __/ _ \ '_ \| __/ __|
  | | (_| | |_) | |  __/ | (_) |  _| | |__| (_) | | | | ||  __/ | | | |_\__ \
  |_|\__,_|_.__/|_|\___|  \___/|_|    \____\___/|_| |_|\__\___|_| |_|\__|___/

- html, body
- body
- h1, h2, h3, h4, h5, h6
	- _flourish
- p
	- _lead
- a
- colors
- hr
- section


*/

html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin: 0;
	background-color: #ccc;

	@media screen and (min-width: $size-small) {
		font-size: 17px;
	}

	@media screen and (min-width: $size-medium) {
		font-size: 18px;
	}

	@media screen and (min-width: $size-large) {
		font-size: 19px;
	}

	@media screen and (min-width: $size-x-large) {
		font-size: 20px;
	}
}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $font-light;

	&._flourish {
		$width: 0.52631578947368em; // 30px;
		$height: 0.59649122807018em; // 34px;
		display: inline-block;
		position: relative;
		margin: 0 $width;

		&:before,
		&:after {
			content: '';
			height: $height;
			width: $width;
			position: absolute;
			display: inline-block;
			top: 50%;
			margin-top: -$height/2;
			background-size: contain;
		}

		&:before {
			background-image: url('../img/ui/flourish_blue_left.png');

			left: -$width;
		}

		&:after {
			background-image: url('../img/ui/flourish_blue_right.png');
			right: -$width;
		}
	}
}

h1 {

}

h2 {
	font-size: 2.85rem;
}

h3 {
	font-size: 1.25em;
}

p {
	color: $text1;
	font-weight: 300;
	clear: left;
	font-size: 1em;
	line-height: 1.85em;

	&._lead {
		font-size: 1.4em;
	}
}

a {
	color: inherit;
	border-bottom: 1px dotted;


	&:hover {
		color: $color2;
		border-bottom: 1px solid;
		text-decoration: none;
	}
}

._white {
	color: white;
}

._white-bg {
	background-color: white;
}

._color1 {
	color: $color1;
}

._color1-bg {
	background-color: $color1;
}

._color2 {
	color: $color2;
}

._color2-bg {
	background-color: $color2;
}

hr {
	height: 4px;
	border-top: 1px solid $color3;
	border-bottom: 1px solid $color3;
	border-left: none;
	border-right: none;
	position: relative;

	&:before, 
	&:after {
		content: '';
		display: inline-block;
		height: 20px;
		width: 1px;
		background-color: $color3;
		position: absolute;
		top: -8px;
	}

	&:before {
		left: 0px;
	}

	&:after {
		right: 0px;
	}

	&._dark {
		border-color: $color4;

		&:before, 
		&:after {
			background-color: $color4;
		}
	}
}

section {
	background-color: white;
	padding-top: 3em;
	padding-bottom: 3em;
	overflow: hidden;
}
