$color1: #1f1920; // dark grey - almost black

$text1: rgb(91,91,91); // dark grey

// font weights
$font-light: 300;
$font-book: 400;
$font-semi-bold: 600;
$font-bold: 700;

// sizes
$size-small: 650px;
$size-medium: 900px;
$size-large: 1200px;
$size-x-large: 1500px;