$color1: #1f1920; // dark grey - almost black
$color2: rgb(237, 131, 118); // peachy color;
$color3: rgba(192,192,192,0.35); // light grey;
$color3-ie: '';
$color4: rgba(128, 128, 128, 0.2); // slightly darker light grey for white background


$text1: rgb(91,91,91); // dark grey
$text2: rgb(72, 57, 73); // dark grey 2


// font weights
$font-light: 300;
$font-book: 400;
$font-semi-bold: 600;
$font-bold: 700;

// sizes
$size-small: 650px;
$size-medium: 900px;
$size-large: 1200px;
$size-x-large: 1500px;