&lt;div class=&quot;wvu-atom-carouselBox&quot;&gt;
	&lt;img src=&quot;http://placehold.it/360x250&quot; alt=&quot;&quot; /&gt;
	&lt;div class=&quot;wvu-boxText&quot;&gt;
		&lt;div class=&quot;wvu-title&quot;&gt;Fall 2013 Welcome Meeting&lt;/div&gt;
		&lt;div class=&quot;wvu-desc&quot;&gt;Provost Michele Wheatly greets a participant.&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;